<div (click)="modalVisible=!modalVisible" [ngClass]="{'modal-overlay fadeIn': true, 'closed': !modalVisible}" id="modal-overlay"></div>

<div [ngClass]="{'modal fadeIn': true, 'closed': !modalVisible}" id="modal">
  <div class="modal-guts">
    <h1>Poimenuj številko</h1>
    <h2>{{message.stevilka}}</h2>
    <hr>
    <br><br>
    <md-input tabindex="0" placeholder="Ime Priimek (30 max)" maxlength="30" value="{{message.nickname}}" #nickname>
      <md-hint align="end">{{nickname.characterCount}} / 30</md-hint>
    </md-input>
  </div>
  <div class="buttons">
    <button (click)="modalVisible=false" md-raised-button color="accent">Zapri</button>
    <button (click)="setNickName(nickname.value);" md-raised-button color="warn">OK</button>
  </div>
</div>